
<div class="Container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 align-items-center">


<img class="align-items-center" src="../../../assets/Node.js_logo.png" style="height: 300px;     position: relative;left: 102px;" alt="img">
<div class="card align-items-center">
  <br><br><br><div class="card-body">
    <img src="../../../assets/Node.js_logo.png" style="height: 50px; width: 50px;" alt="">&nbsp;&nbsp;
      Click here to view Course preview video
  </div><br><br><br>

<h2 class="title"> Node-js </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aliquam omnis quaerat natus consequuntur, ut quae perferendis explicabo quidem consectetur minus non pariatur architecto possimus. Consectetur, perferendis ullam? Pariatur, cupiditate!</p>
</div><br><br><br>
<h3>Description</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, fugiat provident. Veniam nesciunt in explicabo sunt ratione, molestiae amet ipsum, commodi saepe blanditiis ea soluta repudiandae esse? Nostrum, earum quaerat.</p>
<table class="table table table-striped">
  <tr>
    <th class="col-2">Contact info</th>
    <th class="col-6">Rating</th>
  </tr>
  <br><tr>
    <td>Name</td>
    <td>Advance node course</td>
  </tr>
  <br><tr>
    <td>language</td>
    <td>Englis/Hindi</td>
  </tr>
 <br> <tr>
    <td>Duration</td>
    <td>10 hours</td>
  </tr>
  <br><tr>
    <td>Sector</td>
    <td>IT-ITES</td>
  </tr>
</table>
</div>
</div>
</div>
<!--
<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="../../../assets/Node.js_logo.png" alt=""></ng-template>
  <ng-template carouselSlide><img src="../../../assets/Node.js_logo.png" alt=""></ng-template>
  <ng-template carouselSlide><img src="../../../assets/Node.js_logo.png" alt=""></ng-template>
</owl-carousel-o>
<div>Some tags after</div> -->



<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">

    </div>
    <div class="carousel-item" data-bs-interval="2000">

    </div>
    <div class="carousel-item" style="height: 100px; width: 100px;">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

