<br><br>
<div>

<button (click)="onCreat()">Info</button>
<div *ngIf="isValid">
  <img src="./assets/house2.jpg" alt="img">
</div>
<br>

<select>

  <option value="Leptop">Leptop</option>
  <option value="Mobile">Mobile</option>
  <option value="TV">TV</option>
  <option value="Washing maching">Washing machin</option>
</select>

</div>
<div class="container">
<div class="row">
<div class="col-md-10">
<table class="table">
  <thead class="theme-dark">
    <tr>
      <th>Product Image</th>
      <th>Product Name</th>
      <th>Product ID</th>
      <th>Product Price</th>
    </tr>
  </thead>
  <thead>
    <tr *ngFor="let mypro of Product">
      <td>{{mypro.proimag}}</td>
      <td>{{mypro.name}}</td>
      <td>{{mypro.id}}</td>
      <td>{{mypro.price}}</td>
    </tr>
  </thead>
</table>
</div>
</div>
</div>
