<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-italic font-weight-bold" href="#"><h2>Learning</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><a [routerLink]="['../mainsection']">HOME</a></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><a routerLink="/student" routerLinkActive="active">Student</a></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><a routerLink="/courses" routerLinkActive ="active">Courses</a> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><a routerLink ="/content" routerLinkActive ="active"> Content </a></a>
      </li>
    </ul>
  </div>
  <button class="btn btn-outline-success my-2" type="submit"><a [routerLink]="['../login']">LOG IN</a><br></button>
</nav>

