<!--
<div class="card">
  <div class="card-body">
    <div class="margin">
     <ul>
       <li class="css-header">
        <i class="fa fa-envelope" style="font-size:24px"></i>
        <a href="#">info@gt20.ca</a>
        <a class="logn" href="#">Login</a>
       </li>

     </ul>
    </div>
  </div>
</div> -->
<!-- <br>
<div class="row">
  <div class="col-md-3">
    <input type="text" class="form-control" placeholder="User name">
  </div>
  <div class="col-md-3">
    <button class="bnt btn-primary">Creat User</button>
  </div>
  <div class="row">
    <div class="col-md-10">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>UserName</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>ajay jatwa</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->


