<div class="container">
  <div class="row">
    <div class="form_bg">
    <form [formGroup]="signupForm" (click)="onSubmit()">
      <div class="form-group">
        Enter your first name<br>
        <input type="text" class="form-control" formControlName='fname' placeholder="your first name">
      </div><br>

      <div class="form-group">
        Enter your last name<br>
        <input type="text" class="form-control" formControlName='lname' placeholder="your last name">
      </div> <br>
      <div class="form-group">
      Male  <input type="radio" name="status" formControlName='gender'>
      Female  <input type="radio" name="status" formControlName='gender'>
      </div> <br>
      <div class="form-group">
        Enter your Email id<br>
        <input type="text" class="form-control" formControlName='emailid' placeholder="your emailid">
      </div> <br>
      <div class="form-group">
        Enter your password <br>
        <input type="password" class="form-control" formControlName='userpasseord' placeholder="your password">
      </div>
      <br><br>
      <div>
        <input type="submit" value="post Data">
      </div>
    </form>
    </div>
  </div>
</div>

