<app-vyaapar></app-vyaapar>
<!-- <app-navbar></app-navbar>
 <app-header></app-header>
<app-topheader></app-topheader> -->
<!-- <body>
<div class="container">
  <br />
  <H2 style="text-align: center;"> ----- USER DATA ---------</H2>
<table class="table" class="table table-dark">

    <tr>
      <th scope="col">Id</th>
      <th scope="col">User Id</th>
      <th scope="col">Title</th>
      <th scope="col">Completed</th>
    </tr>

  <tbody>
    <tr  *ngFor="let p of profile;" >
      <td scope="col">{{p.userId}}</td>
      <td scope="col">{{p.id}}</td>
      <td scope="col">{{p.title}}</td>
      <td scope="col">{{p.completed}}</td>

    </tr>
  </tbody>
</table>
</div>
</body> -->
<app-lmsheader></app-lmsheader>
<!-- <app-mainsection></app-mainsection> -->



<router-outlet></router-outlet>
