
<div class="page-area border-primary ">
  <div style="text-align: center;" class="border">
<h2 class="text">Contact Us</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui reprehenderit officia expedita totam molestiae neque nemo dicta architecto, magni vitae sint adipisci, quibusdam tempora ut itaque iusto! Eos, dolores officia.</p>
</div>
<div class="row">
  <div class="col-md-6">
    <!-- card 1 start -->
    <app-card></app-card>
    <!-- card 1 end -->
  </div>
  <div class="col-md-6">
    <!-- card 2 start -->
    <app-card2></app-card2>
    <!-- card 2 end  -->
  </div>
</div>
</div>
