
<div class="container">
  <img src="../../../assets/student1.jpg" alt="img" style="width:100%;">
  <div class="centered "><h1>Courses for Web & Mobile</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Dolorum vel magni voluptatum reprehenderit.</p>
  <button type="button" class="btn btn-outline-info"><a routerLink="ragistration">SING UP FOR DEMO</a></button>
</div>

</div>
<div class="container-sm"><h1>Features</h1>
<p>Learn about all of Features we offer</p>
</div>
 <!-- next contant -->

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/student1.jpg" style="height: 50px; width: 50px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Watch Courses Offline</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quasi,
          nostrum commodi voluptatum aspernatur porro enim, eveniet soluta optio consequatur
          nulla quae eaque voluptatibus, delectus deleniti! Similique optio quibusdam officiis?</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/student2.jpg" style="height: 50px; width: 50px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/house3.jpg" style="height: 50px; width: 50px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/house1.jpg" style="height: 50px; width: 50px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/house2.jpg" style="height: 50px; width: 50px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/house3.jpg" style="height: 50px; width: 50px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
