<div class="card">
  <div class="card-body align-items-center text-center">
    <h4 class="">Student details</h4>
  </div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/student1.jpg"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Science</h5>
      </div>
      <button class="btn btn-success" (click)="onClickMe()">GET INFO</button>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/student2.jpg"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Digital Marketers</h5>
      </div>
      <button class="btn btn-success" (click)="onClickMe()">GET INFO</button>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/book1.jpeg"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sales</h5>
      </div>
      <button class="btn btn-success" (click)="onClickMe()">GET INFO</button>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/book2.jpg"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Software</h5>
      </div>
      <button class="btn btn-success" (click)="onClickMe()">GET INFO</button>
    </div>
  </div>
</div>
</div>
<app-child [productselect]="productselect"></app-child>

